.background-login {
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 250;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/img/login/wallpaper.jpg') repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

/* botões  */
.btn-1 {
    background: #0c056d;
    color: white;
}

.btn-2 {
    background: #590d82;
    color: white;
}

.btn-3 {
    background: #b61aae;
    color: white;
}

.btn-4 {
    background: #f25d9c;
    color: white;
}

.tela-centro {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Backgrounds  */
.bg-1 {
    background-color: #0c056d !important;
}

.bg-2 {
    background-color: #590d82 !important;
}

.bg-3 {
    background-color: #b61aae !important;
}

.bg-4 {
    background-color: #f25d9c !important;
}

.bg-5{
    background-color: #202020 !important;
}

/* textos  */

.menu-text{
    color: gray !important;
}

.menu-item{
    color: white !important;
}
.menu-item:hover{
    color:  #f25d9c !important;;
}